<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tugas 12</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,400&display=swap" rel="stylesheet">
    <style>
        #app {
            text-align: left;
            font-family: 'Roboto', sans-serif;
        }
        thead {
            font-weight: 1000;
            color: white;
            background-color: black;
        }
        form {
            font-weight: 800;
        }
        #tbl-member {
            border-collapse: collapse;
        }
        #tbl-member thead td {
            border: 1px solid white;
        }
        #tbl-member tbody td {
            border: 1px solid black;
        }
        #btn-upload {
            background-color: blue;
            border-radius: 5px;
        }
        #btn-edit {
            background-color: yellow;
            border-radius: 5px;
        }
        #btn-delete {
            background-color: red;
            border-radius: 5px;
        }
        img {
            width: 100px;
        }
    </style>
</head>
<body>
    <div id="app">
        <!-- Error Message -->
        <div v-if="errors.length > 0">
            <h5>ERROR : </h5>
            <ul>
                <li v-for="(error, index) in errors" :key="index">
                    {{ error }}
                </li>
            </ul>
        </div>
        <!-- Error Message -->

        <!-- Submit Form -->
        <form v-on:submit.prevent="submitForm()">
            <table>
                <tr>
                    <td>Nama:</td>
                    <td><input type="text" :disable="buttonStatus == 'upload'" v-model="form.name"></td>
                </tr>
                <tr>
                    <td>Address:</td>
                    <td><input type="text" :disable="buttonStatus == 'upload'" v-model="form.address"></td>
                </tr>
                <tr>
                    <td>No HP:</td>
                    <td><input type="text" :disable="buttonStatus == 'upload'" v-model="form.no_hp"></td>
                </tr>
                <tr v-if="buttonStatus == 'submit'">
                    <td>
                        <button type="submit">SUBMIT</button>
                    </td>
                </tr>
            </table>
            <div v-if="buttonStatus == 'upload'">
                <input type="file" name="photo" ref="photo">
                <button @click="submitFoto()">UPLOAD</button>
                <button @click="clearForm()">CANCEL</button>
            </div>
            <div v-if="buttonStatus == 'update'">
                <button @click="updateMember()">UPDATE</button>
                <button @click="clearForm()">CANCEL</button>
            </div>
        </form>
        <!-- Submit Form -->
        <br>
        <!-- Tabel Member -->
        <table id="tbl-member">
            <thead>
                <tr>
                    <td>Foto</td>
                    <td>Nama</td>
                    <td>Alamat</td>
                    <td>No Handphone</td>
                    <td>Action</td>
                </tr>
            </thead>
            <tbody>
                <tr  v-for="member in members">
                    <td>
                        <img v-if="member.photo_profile != null" :src="url+member.photo_profile" alt="" srcset="">
                        <img v-else src="https://dummyimage.com/16:9x1080" alt="">
                    </td>
                    <td>{{ member.name }}</td>
                    <td>{{ member.address }}</td>
                    <td>{{ member.no_hp }}</td>
                    <td>
                        <button id="btn-upload" @click="uploadPhoto(member)">UPLOAD PHOTO</button>
                        <button id="btn-edit" @click="editMember(member)">EDIT</button>
                        <button id="btn-delete" @click="deleteMember(member.id)">DELETE</button>
                    </td>
                </tr>
            </tbody>
        </table>
        <!-- Tabel Member -->
    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script>
        var vm = new Vue({
            el: '#app',
            data: {
                url: 'http://demo-api-vue.sanbercloud.com',
                form:{
                    id: null,
                    name: '',
                    address: '',
                    no_hp: ''
                },
                members: [],
                errors: [],
                buttonStatus: 'submit',
            },
            created() {
                this.getMembers();
            },
            methods: {
                clearForm: function() { // clear form
                    this.form.id=null,
                    this.form.name='',
                    this.form.address='',
                    this.form.no_hp='',
                    this.buttonStatus='submit'
                },
                // Validasi
                validationForm: function() {
                    if (this.form.name === '') {
                        this.errors.push('Nama tidak boleh kosong');
                    }
                    if (this.form.address === '') {
                        this.errors.push('Alamat tidak boleh kosong');
                    }
                    if (this.form.no_hp === '') {
                        this.errors.push('No Gawai tidak boleh kosong');
                    }
                },
                // Submit Form
                submitForm: function() {
                    
                    this.validationForm();

                    if (this.errors.length === 0) {
                        let formData = new FormData();
                        formData.append('name', this.form.name);
                        formData.append('address', this.form.address);
                        formData.append('no_hp', this.form.no_hp);

                        const config = {
                            method: 'post',
                            url: 'http://demo-api-vue.sanbercloud.com/api/member',
                            data: formData,
                        }

                        axios(config)
                            .then(response => {
                                this.clearForm();
                                this.getMembers();
                                alert(response.data.message)
                            })
                            .catch(error => {
                                console.log(error);
                            })   
                    }
                },
                getMembers: function() {
                    const config = {
                        method: 'get',
                        url: 'http://demo-api-vue.sanbercloud.com/api/member'
                    }

                    axios(config)
                        .then(response => {
                            this.members = response.data.members;
                        })
                        .catch(response => {
                            console.log(error);
                        })
                },
                // Delete Member
                deleteMember: function(id) {
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${id}`,
                        params: { _method : 'DELETE'}
                    }

                    axios(config)
                        .then(response => {
                            this.getMembers();
                            alert(response.data.message);
                        })
                        .catch(response => {
                            console.log(error)
                        })
                },
                // Edit Member
                editMember: function(member) {
                    this.buttonStatus = 'update';
                    this.form.id = member.id;
                    this.form.name = member.name;
                    this.form.address = member.address;
                    this.form.no_hp = member.no_hp;
                },
                updateMember: function(id) {
                    this.validationForm();

                    if (this.errors.length === 0) {
                        let formData = new FormData();
                        formData.append('name', this.form.name);
                        formData.append('address', this.form.address);
                        formData.append('no_hp', this.form.no_hp);

                        let config = {
                            method: 'post',
                            url: `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}`,
                            params: { _method : 'PUT'},
                            data: formData
                        }

                        axios(config)
                            .then(response => {
                                this.clearForm();
                                this.getMembers();
                                alert(response.data.message)
                            })
                            .catch(response => {
                                console.log(error)
                            })
                    }
                },                
                // Upload Foto
                uploadPhoto: function(member) {
                    this.buttonStatus = 'upload';
                    this.form.id = member.id;
                    this.form.name = member.name;
                    this.form.address = member.address;
                    this.form.no_hp = member.no_hp;
                },
                submitFoto: function(id) {
                    let file = this.$refs.photo.files[0];
                    let formData = new FormData();
                    formData.append('photo_profile', file);
                    const config = {
                        method: 'post',
                        url: `http://demo-api-vue.sanbercloud.com/api/member/${this.form.id}/upload-photo-profile`,
                        data: formData,
                    }

                    axios(config)
                        .then(response => {
                            this.clearForm();
                            this.getMembers()
                            alert(response.data.message);
                        })
                        .catch(response => {
                            console.log(error)
                        })
                },
            },
        })
    </script>
</body>
</html>