@import url("https://fonts.googleapis.com/css2?family=Quicksand&display=swap");
body {
    padding: 100px;
    background-color: #FBAB7E;
    background-image: linear-gradient(62deg, #FBAB7E 0%, #F7CE68 100%);
    text-align: center;
    align-items: center;
    font-family: 'Quicksand', sans-serif;
}

.main {
    width: 800px;
    height: fit-content;
    background-color: black;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 2px;
    border-radius: 10px 10px 0px 0px;
}

.second {
    width: 800px;
    height: fit-content;
    background-color: white;
    margin: 0 auto;
    padding-top: 20px;
    padding-bottom: 20px;
    border-radius: 0px 0px 10px 10px;
}

.img {
    background-image: url(../assets/FotoKu.jpeg);
    background-color: black;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    height: 400px;
    width: 700px;
    margin: 0 auto;
}

h1 {
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    color: white;
    margin: 0;
}

h2 {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    color: black;
    margin: 0;
}

.minidesc {
    font-size: 15px;
    color: white;
    margin: 0;
}

ul {
    margin-left: -45px;
}

li {
    list-style: none;
    display: inline-block;
}

.icon {
    padding: 5px;
    height: 40px;
    width: 40px;
}

table {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
}

td {
    text-align: left;
    vertical-align: middle;
    font-size: 20px;
    color: black;
    margin: 0;
}